<div class="container">
  <h1>Tasks</h1>

  <div class="tags">
    <span *ngFor="let tag of tasks.tags.list"
          class="tag"
          [class.selected]="tasks.tags.selected.includes(tag)"
          (click)="tasks.tags.select(tag)">
      {{tag}}
    </span>
    <span class="tag selected"
          *ngIf="tasks.tags.selected.length"
          (click)="tasks.tags.deselectAll()">
      <b>✕</b>
    </span>
  </div>
  <div class="tasks">
    <div class="tasks-list">
      <div class="create">
        <h4 *ngIf="!tasks.createMode" (click)="tasks.create()">+ Create issue</h4>
      </div>
      <ul class="list" *ngIf="tasks.list | async as list">
        <li class="list-item"
            *ngFor="let task of list | filterByTag:tasks.tags.selected; let i = index"
            (click)="tasks.select(task)">
          <div class="list-item__title">
          <span>
            <span class="id inline-center">#{{i}}</span>
            <strong>{{task.title}}</strong>
          </span>
            <div class="list-item__controls">
              <tt-controls>
                <button class="delete" (click)="tasks.delete(task)">Delete</button>
                <button class="edit" (click)="tasks.edit(task)">Edit</button>
              </tt-controls>
            </div>
          </div>
          <div class="list-item__tags" *ngIf="task.tags as tags">
        <span *ngFor="let tag of tags" class="tag"
              [class.selected]="tasks.tags.selected.includes(tag)"
              (click)="tasks.tags.select(tag)">{{tag}}</span>
          </div>
        </li>
      </ul>
      <div class="create">
        <h4 *ngIf="!tasks.createMode" (click)="tasks.create()">+ Create issue</h4>
      </div>
    </div>
    <tt-task [task]="tasks.selected | async"
             [onEdit]="tasks.onEdit | async"></tt-task>
  </div>
</div>
