.edit-mode, .create-mode {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input, textarea {
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 4px;
  }

  input {
    &.title {
      width: 100%;
      font-size: 1.17em;
    }
  }

  textarea {
    resize: none;
  }
}
