:root {
  --color: #121212;
  --background: #FAFAFA;
  --white: #FFFFFF;
  --gray: #CACACA;
  --light-gray: #e8e8e8;
  --hover: #DEEBFF;
  --list: #F4F5F7;
  --border: #EBECF0;

  --selected: #64b364;
}
