.list {
  margin: 16px;
  padding: 16px 8px;
  list-style: none;

  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;

  border-radius: 4px;
  overflow: hidden;

  &-item {
    width: 100%;
    padding: 4px 8px;
    border: 1px solid var(--border);
    cursor: pointer;

    &.selected {
      background: var(--selected);
    }

    &:hover {
      background: var(--hover);
    }
  }
}
