html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--color);
}

footer {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--light-gray);

  a {
    color: var(--hover);
  }
}
