.tasks {
  width: 100%;
  display: inline-flex;
  gap: 16px;
  & > .list, & > tt-task {
    width: 50%;
  }

  &-list {
    margin: 16px 0;
    width: 50%;
  }
}

.task {
  width: 100%;
  box-shadow: var(--shadow);
  transition: var(--trans-all);

  &-title {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    margin-bottom: 16px;

    line-height: var(--control);
  }

  &-text {
  }

  &-tags {
    width: 100%;
    gap: 8px;
    display: inline-flex;
    margin-bottom: 16px;
  }
}

.readonly {
  width: 100%;
}


.create-mode {
  padding: 16px;
}
