.tasks {
  width: 100%;
  display: inline-flex;
  gap: 16px;
  & > .list, & > tt-task {
    width: 50%;
  }

  &-list {
    margin: 16px 0;
    width: 50%;
  }
}

.task {
  width: 100%;
  box-shadow: var(--shadow);
  transition: var(--trans-all);

  &-title {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    margin-bottom: 16px;

    line-height: var(--control);
  }

  &-text {
  }

  &-tags {
    width: 100%;
    gap: 8px;
    display: inline-flex;
    margin-bottom: 16px;
  }
}

.tags {
  margin-bottom: 16px;
  gap: 8px;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  position: relative;
  .buttons {
    position: absolute;
    top: 100%;
    left: 0;
    height: 24px;
  }
}

.tag {
  border: 1px solid var(--tag);
  background: var(--tag);
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
  user-select: none;

  font-size: 0.75em;

  transition: var(--trans-all);
  &:hover, &.selected {
    background: var(--white);
    border-color: var(--warning);
  }
}

.readonly {
  width: 100%;
}


.create-mode {
  padding: 16px;
}
